<h1 style="text-align: center;">This is the World's Current Scene</h1>
<div class="container">
<p-table [value]="colls" >
    <ng-template pTemplate="header"> 
        <tr>
            <th>Active Cases</th>
            <th>New Cases</th>
            <th>New Deaths</th>
            <th>Serious Critical</th>
            <th>Last Updated at..</th>
            <th>Total Cases</th>
            <th>Total Deaths</th>
            <th>Total Recovered</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr>
            <td >{{worldStat.active_cases}}</td>
            <td >{{worldStat.new_cases}}</td>
            <td >{{worldStat.new_deaths}}</td>
            <td >{{worldStat.serious_critical}}</td>
            <td >{{worldStat.statistic_taken_at}}</td>
            <td >{{worldStat.total_cases}}</td>
            <td >{{worldStat.total_deaths}}</td>
            <td >{{worldStat.total_recovered}}</td>
        </tr>
    </ng-template>
</p-table>
</div>

<p-table #dt [columns]="cols" [value]="countryStat" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}  entries  ">
    <ng-template pTemplate="caption">
        <div style="text-align: left">        
            <i class="pi pi-search"></i>
            <input type="text" pInputText size="50" placeholder="Search Country" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

